body{
    margin:0px;
    box-sizing: border-box;
    font-family: 'Gotham', sans-serif;
}
ul{
    margin:0px;
    padding-inline-start: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    list-style-type: none;
    display: flex;
    gap:32px;
}
h1{
    margin:0px;
}
.container{
    width:100%;
    height:auto;
    max-width: 1280px;
    margin:0 auto;
}
header{
    background-color: #F5F5F5;
    height: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.first-column{
    margin:0px;
    padding-inline-start: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    list-style-type: none;
    display: flex;
    gap:32px;
}
.second-column{
    padding-inline-start: 0px;
    list-style-type: none;
    display: flex;
    gap:32px;
}
.header-row{
    display: flex;
    justify-content: space-between;
}
.first-col-items{
    display: flex;
    align-items: baseline;
    color:#1A1A1A;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
}
.second-col-items{
    display: flex;
    align-items: baseline;
    color:#9B1E26;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
}
.header-navbar-icon{
    margin-left: 8px;
}
.navbar-container{
    width:100%;
    height:auto;
    max-width: 1280px;
    margin:0 auto;
}
.navbar-logos{
    display: flex;
    align-items: center;
    gap: 20px;
}
.navbar-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-right-col{
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #9B1E26;
}
.nav-content{
    border-bottom: 1px solid #EDEDED;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}
.navbar-content-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 53px;
}
.login-btn{
    display: flex;
    align-items: center;
    gap: 10px;
}
footer{
    width: 100%;
    min-height: 200px;
    background-color: black;
}